table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

tr{
    border: 4px double black; 
    width: 250px;
    padding: 10px;
}

#names{
    font-size: 1.2em;
    font-weight: bold;
    font-variant: small-caps;
    display: flex;
    justify-content: center;
}
